// Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");

// Scss Imports
@import "./reset.scss";
@import "./header.scss";
@import "./variables.scss";

.app {
  padding: 10px;
}

// Main

main {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  padding: 10px;

  // Card
  .card {
    box-shadow: $shadow-2;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    position: relative;
    transition: all 0.4s;

    &:hover {
      box-shadow: $shadow-1;
      scale: 1.02;
    }

    h1 {
      background-color: $purple;
      color: white;
      aspect-ratio: 1; //  aspect-ratio bir elemanın width ve height'ını otomatik ayarlamak için kullanılır.
      min-width: 60px;
      text-align: center;
      margin: auto;
      display: grid;
      place-items: center;
      border-radius: 10px;
      box-shadow: $shadow-2;
      margin-bottom: 10px;
    }

    h3 {
      font-size: 23px;
    }

    p:nth-of-type(1) {
      color: gray;
    }
    p:nth-of-type(2) {
      color: $purple;
      margin-bottom: 20px;
    }

    // Bottom

    .bottom {
      div {
        display: flex;
        gap: 10px;
        margin-bottom: 10px;
        span:nth-of-type(1) {
          background-color: rgba(128, 0, 128, 0.291);
          padding: 8px;
          display: grid;
          place-items: center;
          border-radius: 5px;
          color: $purple;
        }
        span:nth-of-type(2) {
          font-weight: 700;
        }
      }
    }

    // Buttons
    .buttons {
      position: absolute;
      right: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      button {
        color: white;
        width: 35px;
        aspect-ratio: 1;
        display: grid;
        place-items: center;
        &:nth-child(1) {
          background-color: rgb(0, 157, 255);
        }
        &:nth-child(2) {
          background-color: crimson;
        }
      }
    }
  }
}

// Modal

.modal {
  position: fixed;
  //   top: 0;
  //   left: 0;
  //   bottom: 0;
  //   right: 0;
  inset: 0;
  display: grid;
  place-items: center;
  backdrop-filter: blur(10px);
  .modal-inner {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    min-width: 400px;
    width: 50%;
    max-height: 700px;
    min-height: 500px;

    // Head
    .modal-head {
      display: flex;
      align-items: center;
      justify-content: space-between;

      button {
        border: 1px solid gray;
        height: 40px;
        aspect-ratio: 1;
        display: grid;
        place-items: center;
        font-size: 20px;
        transition: all 0.4s;
        &:hover {
          background-color: rgba(128, 128, 128, 0.225);
        }
      }
    }

    // Form

    form {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-top: 20px;

      // Field
      .field {
        display: flex;
        flex-direction: column;
        gap: 2px;

        label {
          font-weight: 700;
        }

        input {
          box-shadow: $shadow-2;
          padding: 10px;
          border-radius: 10px;
        }
      }

      // Buttons

      .buttons {
        display: flex;
        justify-content: end;
        gap: 10px;
        margin-top: 20px;

        button {
          padding: 5px 20px;
          color: white;
          &:nth-child(1) {
            background-color: gray;
          }
          &:nth-child(2) {
            background-color: $purple;
          }
        }
      }
    }
  }
}